/* ELEMENTS */

body {
    font-family: 'Orbitron', 'Courier New', sans-serif;
    display: block;
}


header {
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #00D923;
    background-color: black;
    padding: 5px 5px;
}


h1 {
    font-size: 10vmin;
}

h3 {
    font-size: 3.3vmin;
}

button {
    background-color: #616161;
    color: #00D923;
    font-family: 'Orbitron', 'Courier New', sans-serif;
    font-size: 20px;
    padding: 8px;
    display: block;
    margin: 0 auto;
}

p {
    padding: 2px 2px 2px 6px;
    letter-spacing: .07rem;
    color: white;
}

/* CLASSES */

.container {

}

.game-window {
    display: block;
    margin: 0 auto;
    width: 600px;
    height: 400px;
    border: 1px solid black;
}

.game-text {
    background-color: black;
    color: white;
    font-weight: 500;
}

/* ID'S */

#prompts {

}

#start {

}

#userinput {

}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
    .game-text {
        font-size: 12px;
    }

    h3 {
        font-size: 14px;
    }

    .game-window {
        width: 60vmin;
        height: 40vmin;
    }
}




