/* ELEMENTS */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', 'Courier New', sans-serif;
    display: flex;
    flex-direction: column;
}


header {
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #00D923;
    background-color: black;
    padding: 5px 5px;
}


h1 {
    font-size: 10vmin;
}

h3 {
    font-size: 3.3vmin;
}

button {
    background-color: #616161;
    color: #00D923;
    font-family: 'Orbitron', 'Courier New', sans-serif;
    font-size: 20px;
    padding: 8px;
    display: block;
    margin: 0 auto;
}

p {
    padding: 2px 2px 2px 6px;
    letter-spacing: .07rem;
    color: white;
}

textarea {
    background-color: yellow;
    /* position: absolute; */
    left: 0%;
    right: 10%;
    top: 80%;
    bottom: 0%;
    box-sizing: border-box;
    width: 90%;
    height: 100%;
}



/* CLASSES */

.usersubmit {
    position: absolute;
    right: 0%;
    top: 25%;
    bottom: 25%;
    box-sizing: border-box;
    padding: .5rem;
}

.container {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 60vw;
    height: 50vh;
    border: 1px solid black;
    position: relative;
}



.game-text {
    background-color: black;
    color: white;
    font-weight: 500;
    height: 100px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 80%;
}

.userinput {
    background-color: black;
    /* box-sizing: border-box;
    position: absolute;
    display: inline-block; */
    left: 0%;
    right: 0%;
    top: 80%;
    bottom: 0%;
}

/* ID'S */

#prompts {

}

#start {

}


/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
    .game-text {
        font-size: 12px;
    }

    h3 {
        font-size: 14px;
    }

    .game-window {
        width: 60vmin;
        height: 40vmin;
    }
}




